body {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.clearFix::after{
    clear: both;
    content: "";
    display: block;
}

            
.container {
    width: 1000px;
    margin: 0 auto;
}

.image-holder{
    width: 19%;
    margin-right: 1%;
    margin-bottom: 3%;
    float: left;
    text-align: center
}

 .image{
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #6ca2d9;
    background-image: url("./images/placeholder-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    display: inline-block;
    margin: 0 auto;
}

 h6{ 
     color:#c2bfc5;
     background-color: #faf7ff;
     width: 100%;
     position: absolute;
     bottom: 0;
     text-align: center;
     border-radius: 0 0 10px 10px;
     margin: 0;
     padding: 5px 0;
     
    
 }

 .title{
    padding-left: 2%;
 }

 .tekst{
    margin-top: 30px;
    float: left;
    padding: 0 2%;
 }
 
 @media only screen and (max-width: 780px)  {
    .image-holder{
        width: 32%;
    }

    .title{
        padding-left: 8%;
     }
    
     .tekst{
        padding: 0 8%;
     }
}

@media only screen and (max-width: 480px)  {
    .image-holder{
        width: 100%;
    }

    .title{
        padding-left: 42%;
        font-size: 20px;
     }
}

